<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eum.users.mapper.review-mapper">
  <resultMap type="ReviewVO" id="reviewMap">
    <result property="bvo.b_type" column="b_type"/>
    <result property="bvo.b_title" column="b_title"/>
    <result property="bvo.b_thumbnail" column="b_thumbnail"/>
    
    <result property="usvo.u_s_com" column="u_s_com"/>
  </resultMap>
  <select id="reviewListData" resultMap="reviewMap" parameterType="string">
    SELECT r.b_review_id, r.u_s_id, r.b_id, r.u_id, b.b_type, b.b_title, b.b_thumbnail,
    		us.u_s_com, r.b_review_score, r.b_review_content, r.b_review_createdat,
    			(SELECT COUNT(*)
				FROM review sub_r
				WHERE sub_r.b_id = r.b_id
				AND sub_r.depth=2) AS depth_count
	FROM review r
	JOIN board b ON r.b_id=b.b_id
	JOIN users_seller us ON b.u_s_id=us.u_s_id
	WHERE r.u_id=#{u_id}
  </select>
</mapper>