@charset "UTF-8";

.pagination .page-link {
    color: #A67CFF;
}
.pagination .page-link:hover {
    color: #fff;
    background-color: #A67CFF;
    border-color: #A67CFF;
}
.pagination .page-item.active .page-link {
    background-color: #A67CFF;
    border-color: #A67CFF;
    color: #fff;
}


.avatar-md {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-md .avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  border-radius: 50%;   
  display: block;
}


body:not(.dark-mode) .text-normal {
    color: var(--body-color) !important;
}


body.dark-mode .text-normal {
    color: var(--body-color) !important;
}

a {
    color: var(--body-color) !important;
}



.page-header-custom h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 2px;
}

.page-header-custom p {
    font-size: 0.85rem;
    color: #888;
    margin: 0;
}

/* 검색 디자인 */
.form {
  --timing: 0.3s;
  --width-of-input: 400px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #9755F6;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}

.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}

.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

.form:focus-within:before {
  transform: scale(1);
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}

.form svg {
  width: 17px;
  margin-top: 3px;
}

.search-input:not(:placeholder-shown) ~ .reset-btn {
  opacity: 1;
  visibility: visible;
}

.search-form svg {
  width: 17px;
  
}

.form button {
  border: none;
  background: none;
}