<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eum.admin.mapper.admin-mapper">
	<select id="adminUsersListData">
	
	</select>
	
	<select id="adminSellerListData">
	
	</select>
	
	<select id="adminContentsListData">
	
	</select>
	
	<select id="adminOredersListData">
	
	</select>
	
	<select id="adminnoticeListData" resultType="NoticeVO" parameterType="map">
	  SELECT n_id, n_title, n_createdAt, n_updatedAt
	  FROM (
	      SELECT n_id, n_title, n_createdAt, n_updatedAt, ROWNUM AS num
	      FROM (
	          SELECT n_id, n_title, n_createdAt, n_updatedAt
	          FROM notice_board
	          ORDER BY TO_NUMBER(n_id) DESC
	      )
	  )
	  WHERE num BETWEEN #{start} AND #{end}
	</select>
	 <select id="adminnoticeDetailData" resultType="NoticeVO" parameterType="string">
	  SELECT n_id,n_title,n_createdAt,n_updatedAt,n_content
	  FROM notice_board
	  WHERE n_id=#{n_id}
	 </select>
	 <select id="adminnoticeTotalPage" resultType="int">
	  SELECT CEIL(COUNT(*) / 10.0)
	  FROM notice_board
	 </select>
	 <insert id="adminnoticeInsert" parameterType="NoticeVO">
	  INSERT INTO notice_board(n_id,n_title,n_content,n_createdAt,n_updatedAt)
	  VALUES(NOTICE_BOARD_SEQ.NEXTVAL,
	   #{n_title},#{n_content},SYSDATE,NULL
	  )
	 </insert>
	 <update id="adminnoticeUpdate" parameterType="NoticeVO">
	  UPDATE notice_board
	  SET
	   n_title=#{n_title},
	   n_content=#{n_content},
	   n_updatedAt=SYSDATE
	  WHERE n_id=#{n_id}
	 </update>
	 <delete id="adminnoticeDelete" parameterType="string">
	  DELETE FROM notice_board
	  WHERE n_id=#{n_id}
	 </delete>

</mapper>