<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eum.admin.mapper.contents-mapper">
	<resultMap id="BoardWithSellerMap" type="BoardVO">
		<!-- contentVO기본 컬럼 -->
		<id property="b_id" column="b_id"/>
		<result property="u_s_id" column="b_u_s_id"/>
		<result property="b_filter" column="b_filter"/>
		<result property="b_title" column="b_title"/>
		<result property="b_content" column="b_content"/>
		<result property="b_thumbnail" column="b_thumbnail"/>
		<result property="b_prod_on_off" column="b_prod_on_off"/>
		<result property="b_status" column="b_status"/>
		<result property="b_type" column="b_type"/>
		<result property="b_view_count" column="b_view_count"/>
		<result property="b_createdat" column="b_createdat"/>
		<result property="b_updatedat" column="b_updatedat"/>
		
		<association property="usvo" javaType="Users_SellerVO">
		<id property="u_s_id" column="us_u_s_id"/>
		<result property="u_s_com" column="u_s_com" />
		
		</association>
	</resultMap>

	
	<!-- <컨텐츠> 리스트 -->
	<select id="contentsListData" resultMap="BoardWithSellerMap" parameterType="hashmap">
		SELECT b.b_id,  b.u_s_id AS b_u_s_id, b.b_filter, b.b_title, us.u_s_id AS us_u_s_id,
			b.b_thumbnail, b.b_status, b.b_createdat, b.b_view_count, us.u_s_com, b.b_type
	  FROM board b
	  LEFT JOIN users_seller us ON b.u_s_id = us.u_s_id
	  ORDER BY b.b_id DESC
	  OFFSET #{start} ROWS FETCH NEXT #{rowSize} ROWS ONLY
	</select>
	
	<!-- <컨텐츠> 페이징 -->
	<select id="contentsTotalData" resultType="int">
		SELECT CEIL(COUNT(*)/12.0)
		FROM board
	</select>
	
</mapper>