<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eum.admin.mapper.delete-mapper">

  <delete id="reviewImageDel" parameterType="string"> <!-- 리뷰 이미지 삭제 -->
	DELETE FROM review_image
	  WHERE b_review_id IN (
	    SELECT b_review_id
	    FROM review
	    WHERE b_id = #{b_id}
	  )
  </delete>
  
  <delete id="reviewDel" parameterType="string"> <!-- 리뷰 삭제 -->
    DELETE FROM review
  	WHERE b_id=#{b_id}
  </delete>
  
  <select id="findUserReviewIds" resultType="string" parameterType="string"> <!-- 유저가 작성한 리뷰 조회 -->
    SELECT b_review_id
    FROM review
    WHERE u_id = #{u_id}
  </select>
  
  <delete id="deleteReviewImagesByReviewId" parameterType="string"> <!-- 리뷰 ID 기반 리뷰 이미지 삭제 -->
    DELETE FROM review_image
    WHERE b_review_id = #{b_review_id}
  </delete>
  
  <delete id="deleteReviewsByUserId" parameterType="string"> <!-- 유저가 작성한 리뷰 삭제 -->
    DELETE FROM review
    WHERE u_id = #{u_id}
  </delete>
  
  
  <delete id="priceOpDel" parameterType="string"> <!-- 가격 옵션 삭제 -->
    DELETE FROM board_option
  	WHERE b_id=#{b_id}
  </delete>
  
  <delete id="favoriteDel" parameterType="string"> <!-- 상세이미지 삭제 -->
    DELETE FROM favorite
  	WHERE b_id=#{b_id}
  </delete>
  
  <delete id="likeDel" parameterType="string"> <!-- 좋아요 삭제 -->
    DELETE FROM board_like
  	WHERE b_id=#{b_id}
  </delete>
  
  <delete id="detailImgDel" parameterType="string"> <!-- 상세이미지 삭제 -->
    DELETE FROM board_image
  	WHERE b_id=#{b_id}
  </delete>
  
  <delete id="boardDel" parameterType="string"> <!-- 컨텐츠 삭제 -->
    DELETE FROM board
  	WHERE b_id=#{b_id}
  </delete>
  
  <delete id="users_sellerDel"  parameterType="string">
  	DELETE FROM users_seller
  	WHERE u_id=#{u_id}
  </delete>
  
  <delete id="userDel" parameterType="string">
  	DELETE FROM users
  	WHERE u_id=#{u_id}
  </delete>
  
  
  <!-- 유저 삭제를 위한 u_s_id 조회 -->
  <select id="findUserSellerId" resultType="int" parameterType="string">
    SELECT u_s_id
    FROM users_seller
    WHERE u_id = #{u_id}
  </select>
	
  <!-- 유저 삭제를 위한 b_id 조회 -->
  <select id="findSellerBoardIds" resultType="string"  parameterType="int">
    SELECT b_id
    FROM board
    WHERE u_s_id = #{u_s_id}
   </select>
  
  <!-- 유저 즐겨찾기 삭제 -->
  <delete id="usersFavoriteDelete" parameterType="string">
  	DELETE FROM favorite
  	WHERE u_id = #{u_id}
  </delete>
  
  <!-- 유저 좋아요 삭제 -->
  <delete id="usersLikeDelete" parameterType="string">
  	DELETE FROM board_like
  	WHERE u_id = #{u_id}
  </delete>
  
  <!-- 셀러 삭제 -->
  <delete id="sellerDelete" parameterType="int">
  	DELETE FROM users_seller
  	WHERE u_s_id = #{u_s_id}
  </delete>
  
     <!-- 리뷰와 리뷰의 대한 답변 삭제 -->
   <delete id="reviewReplyDelete" parameterType="int">
     DELETE FROM review
     WHERE group_id = #{b_review_id}
   </delete>
   
   <!-- 리뷰 이미지 삭제 -->
   <delete id="reviewImageDelete" parameterType="int">
     DELETE FROM review_image
     WHERE b_review_id = #{b_review_id}
   </delete>
   
   <!-- 리뷰 답글만 삭제 -->
   <delete id="reviewDelete" parameterType="int">
     DELETE FROM review
     WHERE b_review_id = #{b_review_id}
   </delete>
  </mapper>