<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eum.admin.mapper.users-mapper">

<resultMap type="com.eum.main.vo.BoardVO" id="boardMap">
  	<result property="rvo.b_review_score" column="b_review_score"/>
  	<result property="rvo.u_s_id" column="u_s_id"/>
	<result property="rvo.b_review_id" column="b_review_id"/>
	<result property="rvo.b_review_createdat" column="b_review_createdat"/>
	<result property="rvo.b_review_content" column="b_review_content"/>
	<result property="rvo.r_count" column="review_count"/>
	<result property="rivo.r_image_url" column="r_image_url"/>
  	<result property="bovo.b_op_price" column="b_op_price"/>
  	<result property="bivo.b_img_url" column="b_img_url"/>
  	<result property="usvo.u_s_com" column="u_s_com"/>
	<result property="usvo.u_s_profileimg_url" column="u_s_profileimg_url"/>
	<result property="usvo.u_s_carrer" column="u_s_carrer"/>
	<result property="usvo.u_s_zone" column="u_s_zone"/>
	<result property="uvo.u_nickname" column="u_nickname"/>
	<result property="uvo.u_profileimg_url" column="u_profileImg_url"/>
  </resultMap>

	<!-- <유저> 리스트 -->
	<select id="usersListData" resultType="UsersVO" parameterType="hashmap">
		SELECT u_id, u_nickname, u_phone, u_profileimg_url, u_status,
	           u_loginid, u_email, u_loc, u_updateat, u_createat, num
	    FROM (
	        SELECT a.*, ROWNUM AS num
	        FROM (
	            SELECT u_id, u_nickname, u_phone, u_status, u_profileimg_url, u_email,
	                   u_loc, u_loginid, u_updateat, u_createat
	            FROM users
	            ORDER BY u_createat DESC
	        ) a
	    )
	    WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<!-- <유저> 페이징 -->
	<select id="usersListTotalData" resultType="int">
		SELECT CEIL(COUNT(*)/12.0)
		FROM users
	</select>
	
	<!-- <유저> 디테일 페이지 -->
	<select id="usersDetailData" resultType="UsersVO" parameterType="string">
		SELECT u_id, u_nickname, u_phone, u_profileimg_url, u_gender, u_push_noti,
			u_email_noti, u_sms_noti, u_role, u_birth, u_status,
			u_loginid, u_email, u_loc, u_createat, u_updateat
		FROM users
		WHERE u_id=#{u_id}
	</select> 
	
	<!-- <유저> 리뷰 리스트 -->
	<select id="usersReviewListData" resultType="ReviewVO" parameterType="hashmap">
		SELECT u_id, b_review_id, b_review_createdat, 
			b_review_content, b_review_score, num
		FROM (
			SELECT u_id, b_review_id, b_review_createdat, 
				b_review_content, b_review_score, rownum as num
			FROM review
			WHERE u_id = #{u_id}
		)
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="usersReviewImageData" resultType="Review_ImageVO" parameterType="hashmap">
		SELECT b_review_id, r_image_url
		FROM review_image
		WHERE b_review_id = #{b_review_id}
	</select>
	
	
	<!-- <유저> 리뷰 페이징 -->
	<select id="usersReviewListTotalData" resultType="int">
		SELECT CEIL(COUNT(*)/12.0)
		FROM review
		WHERE u_id = #{u_id}
	</select>
	
	<!-- <유저> 상태 수정 -->
	<update id="usersStatusUpdate" parameterType="hashmap">
	    UPDATE users
	    SET u_status = #{u_status}
	    WHERE u_id = #{u_id}
	</update>

	
	
	<!-- <유저> 리스트 검색 -->
	<select id="usersListSearch" resultType="UsersVO" parameterType="hashmap">
	    SELECT u_id, u_nickname, u_phone, u_profileimg_url, u_status,
	           u_loginid, u_email, u_loc, u_updateat, num
	    FROM (
	        SELECT u_id, u_nickname, u_phone, u_status, u_profileimg_url, u_email,
	               u_loc, u_loginid, u_updateat,
	               rownum AS num
	        FROM (
	            SELECT *
	            FROM users
	            WHERE u_nickname LIKE '%' || #{keyword} || '%'
	               OR u_loginid LIKE '%' || #{keyword} || '%'
	               OR u_email LIKE '%' || #{keyword} || '%'
	            ORDER BY u_updateat DESC
	        )
	    )
	    WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<!-- <유저> 검색된 유저 수 -->
	<select id="usersListSearchTotal" resultType="int" parameterType="string">
	    SELECT CEIL(COUNT(*) / 10.0)
	    FROM users
	    WHERE u_nickname LIKE '%' || #{keyword} || '%'
	       OR u_loginid LIKE '%' || #{keyword} || '%'
	       OR u_email LIKE '%' || #{keyword} || '%'
	</select>
	
	<resultMap id="ordersMap" type="OrdersVO">

	    <!-- Orders -->
	    <result property="o_id" column="o_id"/>
	    <result property="o_total_price" column="o_total_price"/>
	    <result property="o_status" column="o_status"/>
	    <result property="o_createdat" column="o_createdat"/>
	    <result property="b_op_id" column="b_op_id"/>
	
	    <!-- Payment -->
	    <association property="pvo" javaType="PaymentVO">
	        <result property="pay_id" column="pay_id"/>
	        <result property="pay_method" column="pay_method"/>
	        <result property="status" column="status"/>
	        <result property="merchant_uid" column="merchant_uid"/>
	
	        <association property="rfvo" javaType="RefundVO">
	            <result property="rf_id" column="rf_id"/>
	            <result property="rf_amount" column="rf_amount"/>
	            <result property="rf_reason" column="rf_reason"/>
	            <result property="rf_status" column="rf_status"/>
	            <result property="rf_requestedat" column="rf_requestedat"/>
	            <result property="rf_completedat" column="rf_completedat"/>
	        </association>
	    </association>
	
	    <!-- Users (구매자) -->
	    <association property="uvo" javaType="UsersVO">
	        <result property="u_id" column="u_id"/>
	        <result property="u_nickname" column="u_nickname"/>
	    </association>
	
	    <!-- 옵션 → 게시판 → 판매자 -->
	    <association property="bopvo" javaType="Board_OptionVO">
	        <result property="b_op_id" column="b_op_id"/>
	        <result property="b_id" column="b_id"/>
	
	        <association property="bvo" javaType="BoardVO">
	            <result property="b_id" column="b_id"/>
	
	            <association property="usvo" javaType="Users_SellerVO">
	                <result property="u_s_id" column="u_s_id"/>
	                <result property="u_s_com" column="u_s_com"/>
	            </association>
	        </association>
	    </association>
	
	</resultMap>


	
	<!-- <유저> 각 사용자 주문 내역 리스트 -->
	<select id="ordersUsersListData" resultMap="ordersMap" parameterType="hashmap">
		SELECT 
		    o.o_id, o.o_total_price, o.o_status, o.o_createdat,
    		o.b_op_id,
			p.pay_id, p.pay_method, p.status, p.merchant_uid,
			u.u_id, u.u_nickname,
			bo.b_id,
    		b.u_s_id,
    		us.u_s_com, us.u_s_id,
			r.rf_id, r.rf_amount, r.rf_reason, r.rf_status, r.rf_requestedat, r.rf_completedat
		FROM orders o
		LEFT JOIN payment p ON o.o_id = p.o_id
		LEFT JOIN users u ON u.u_id = o.o_u_id
		LEFT JOIN refund r ON r.pay_id = p.pay_id
		LEFT JOIN board_option bo ON o.b_op_id = bo.b_op_id
		LEFT JOIN board b ON b.b_id = bo.b_id
		LEFT JOIN users_seller us ON us.u_s_id = b.u_s_id
		WHERE o.o_u_id = #{u_id}
		ORDER BY o.o_createdat DESC
		OFFSET #{start} ROWS FETCH NEXT #{rowSize} ROWS ONLY
	</select>
	
	<!-- <주문> 페이징 -->
	<select id="ordersUsersTotalPage" resultType="int" parameterType="string">
		SELECT CEIL(COUNT(*)/12.0)
		FROM orders
		WHERE o_u_id = #{u_id}
	</select>
	
</mapper>