<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="db.properties"/>

   <typeAliases>

     <typeAlias type="com.eum.main.vo.BoardVO" alias="BoardVO"/>
     <typeAlias type="com.eum.main.vo.Board_OptionVO" alias="Board_OptionVO"/>
     <typeAlias type="com.eum.main.vo.NoticeVO" alias="NoticeVO"/>
     <typeAlias type="com.eum.main.vo.UsersVO" alias="UsersVO"/>
     <typeAlias type="com.eum.main.vo.Users_SellerVO" alias="Users_SellerVO"/>

   </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>

    <mapper resource="com/eum/main/mapper/talent-mapper.xml"/>
    <mapper resource="com/eum/notice/mapper/notice-mapper.xml"/>
    <mapper resource="com/eum/users/mapper/users-mapper.xml"/>
    <mapper resource="com/eum/seller/mapper/seller-mapper.xml"/>
    <mapper resource="com/eum/pay/mapper/payment-mapper.xml"/>
  </mappers>
</configuration>
