<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="db.properties"/>

   <typeAliases>

     <typeAlias type="com.eum.main.vo.BoardVO" alias="BoardVO"/>
     <typeAlias type="com.eum.main.vo.Board_OptionVO" alias="Board_OptionVO"/>
     <typeAlias type="com.eum.main.vo.NoticeVO" alias="NoticeVO"/>
     <typeAlias type="com.eum.main.vo.UsersVO" alias="UsersVO"/>
     <typeAlias type="com.eum.main.vo.Users_SellerVO" alias="Users_SellerVO"/>
     <typeAlias type="com.eum.main.vo.OrdersVO" alias="OrdersVO"/>
     <typeAlias type="com.eum.main.vo.PaymentVO" alias="PaymentVO"/>
     <typeAlias type="com.eum.main.vo.RefundVO" alias="RefundVO"/>
     <typeAlias type="com.eum.main.vo.ReviewVO" alias="ReviewVO"/>
     <typeAlias type="com.eum.main.vo.Review_ImageVO" alias="Review_ImageVO"/>
     <typeAlias type="com.eum.main.vo.FavoriteVO" alias="FavoriteVO"/>
	 <typeAlias type="com.eum.main.vo.Board_LikeVO" alias="Board_LikeVO"/>

   </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>

    <mapper resource="com/eum/main/mapper/content-mapper.xml"/>
    <mapper resource="com/eum/main/mapper/main-mapper.xml"/>
    <mapper resource="com/eum/notice/mapper/notice-mapper.xml"/>
    <mapper resource="com/eum/users/mapper/users-mapper.xml"/>
    <mapper resource="com/eum/seller/mapper/seller-mapper.xml"/>
    <mapper resource="com/eum/pay/mapper/payment-mapper.xml"/>
    <mapper resource="com/eum/seller/mapper/contents-mapper.xml"/>
    <mapper resource="com/eum/users/mapper/favorite-mapper.xml"/>
	<mapper resource="com/eum/users/mapper/review-mapper.xml"/>
	<mapper resource="com/eum/main/mapper/review-mapper.xml"/>
	
    
    <!-- 관리자 -->
    <mapper resource="com/eum/admin/mapper/contents-mapper.xml"/>
    <mapper resource="com/eum/admin/mapper/sellers-mapper.xml"/>
    <mapper resource="com/eum/admin/mapper/users-mapper.xml"/>
    <mapper resource="com/eum/admin/mapper/notice-mapper.xml"/>
    <mapper resource="com/eum/admin/mapper/orders-mapper.xml"/>
    <mapper resource="com/eum/admin/mapper/main-mapper.xml"/>
    <mapper resource="com/eum/admin/mapper/delete-mapper.xml"/>
    <mapper resource="com/eum/admin/mapper/reviews-mapper.xml"/>
  </mappers>
</configuration>
