<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="db.properties"/>

   <typeAliases>
     <typeAlias type="com.eum.list.vo.ContentVO" alias="ContentVO"/>
     <typeAlias type="com.eum.list.vo.ReviewVO" alias="ReviewVO"/>
     <typeAlias type="com.eum.list.vo.Review_ImageVO" alias="Review_ImageVO"/>
     <typeAlias type="com.eum.list.vo.Board_OptionVO" alias="Board_OptionVO"/>
     <typeAlias type="com.eum.list.vo.Board_ImageVO" alias="Board_ImageVO"/>
     <!-- <typeAlias type="com.eum.list.vo.BoardVO" alias="BoardVO"/>
     <typeAlias type="com.eum.list.vo.Board_LikeVO" alias="Board_LikeVO"/>
     <typeAlias type="com.eum.list.vo.ChatVO" alias="ChatVO"/>
     <typeAlias type="com.eum.list.vo.Chat_MessageVO" alias="Chat_MessageVO"/>
     <typeAlias type="com.eum.list.vo.FavoriteVO" alias="FavoriteVO"/>
     <typeAlias type="com.eum.list.vo.OrdersVO" alias="OrdersVO"/>
     <typeAlias type="com.eum.list.vo.RefundVO" alias="RefundVO"/>
     <typeAlias type="com.eum.list.vo.UsersVO" alias="UsersVO"/>
     <typeAlias type="com.eum.list.vo.Users_SellerVO" alias="Users_SellerVO"/> -->
   </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/eum/list/mapper/content-mapper.xml"/>
    <mapper resource="com/eum/list/mapper/exercise-mapper.xml"/>
    
  </mappers>
</configuration>