<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eum.list.mapper.content-mapper">
  <select id="contentListData" resultType="ContentVO" parameterType="map">
    SELECT b_id, b_thumbnail, b_title, b_type
	FROM board
	ORDER BY b_id DESC
	FETCH FIRST 12 ROWS ONLY
  </select>
  
  <!-- <select id="contentTotalPage"></select> -->
</mapper>