<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eum.list.mapper.content-mapper">
	<!-- 리스트 -->
	<select id="contentListData" resultType="ContentVO" parameterType="map">
     SELECT b_id, b_thumbnail, b_title, b_filter, b_op_price_min, r_count, r_avg_score, u_s_com, num
		  FROM (SELECT b_id, b_thumbnail, b_title, b_filter, b_op_price_min, r_count,r_avg_score, u_s_com, ROWNUM AS num
	  	  FROM (SELECT b.b_id, b.b_thumbnail, b.b_title, b.b_filter,
	          (SELECT MIN(op.b_op_price)
	             FROM board_option op
	            WHERE op.b_id = b.b_id) AS b_op_price_min,
	          (SELECT COUNT(*)
               FROM review re
               WHERE re.b_id = b.b_id) AS r_count,
              (SELECT ROUND(AVG(re.b_review_score), 1)
               FROM review re
               WHERE re.b_id = b.b_id) AS r_avg_score, 
              (SELECT sel.u_s_com
               FROM users_seller sel
               WHERE sel.u_s_id = b.u_s_id) AS u_s_com
	      FROM board b
	      WHERE b.b_type = '비즈니스'
	   )
	  )
	 WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 디테일 -->
	<select id="contentDetailData" resultType="ContentVO" parameterType="string">
	   SELECT 
		    b.b_id,
		    b.b_thumbnail,
		    b.b_title,
		    b.b_filter,
		    b.b_view_count,
		    b.b_content,
		    b.b_prod_on_off,
		    b.u_s_id,
		    (SELECT COUNT(*) FROM review re WHERE re.b_id = b.b_id) AS r_count,
		    (SELECT COUNT(*) FROM board_like bl WHERE bl.b_id = b.b_id) AS l_count,
		    (SELECT ROUND(AVG(re.b_review_score), 1)
              FROM review re
              WHERE re.b_id = b.b_id) AS r_avg_score,
		    sel.u_s_com,
		    sel.u_s_zone,
		    sel.u_s_carrer,
		    sel.u_s_profileimg_url
		FROM board b
		LEFT JOIN users_seller sel
		    ON b.u_s_id = sel.u_s_id
		WHERE b.b_id = #{b_id}
	</select>
	
	<!-- 디테일 이미지 -->
	<select id="contentDetailImage" resultType="string" parameterType="string">
	   SELECT b_img_url 
	   FROM board_image 
	   WHERE b_id = #{b_id}
	   ORDER BY b_img_id ASC
	</select>
	
	<!-- 페이지네이션 -->
	<select id="contentTotalPage" resultType="int">
	SELECT CEIL(COUNT(*) / 12.0)
    FROM board
    WHERE b_type='비즈니스'
	</select>
	
	<!-- 리뷰 -->
	<select id="contentReview" resultType="ContentVO" parameterType="string">
     SELECT 
     re.b_review_createdat,
     DBMS_LOB.SUBSTR(re.b_review_content, 500, 1) AS b_review_content,
     u.u_nickname,
     u.u_profileimg_url
     FROM review re
     LEFT JOIN users u
     ON re.u_id = u.u_id
     WHERE re.b_id = #{b_id}
     ORDER BY re.b_review_createdat DESC
	</select>
	
	<!-- 리뷰 이미지 -->
	<select id="contentReviewImage" resultType="string" parameterType="string">
     SELECT b_review_img_url
     FROM review_image
     WHERE b_id = #{b_id}
     ORDER BY b_review_img_id ASC
	</select>
	<!-- 가격 옵션 -->
	<select id="contentOption" resultType="ContentVO" parameterType="string">
	SELECT b_op_id, b_id, b_op_title, b_op_price,
	DBMS_LOB.SUBSTR(b_op_detail, 500, 1) AS b_op_detail
	FROM board_option
	WHERE b_id = #{b_id}
	ORDER BY b_op_id ASC
	</select>
</mapper>