<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
    B_ID          NOT NULL VARCHAR2(30)  
	U_S_ID                 NUMBER        
	B_TYPE                 VARCHAR2(20)  
	B_FILTER               VARCHAR2(60)  
	B_TITLE                VARCHAR2(200) 
	B_CONTENT              CLOB          
	B_VIEW_COUNT           NUMBER        
	B_THUMBNAIL            VARCHAR2(200) 
	B_CREATEDAT            DATE          
	B_UPDATEDAT            DATE          
	B_PROD_ON_OFF          VARCHAR2(10)  
	B_STATUS               VARCHAR2(10)
 -->
<mapper namespace="com.eum.list.mapper.etc-mapper">

	<!-- 리스트 -->
	<select id="etcListData" resultType="ContentVO" parameterType="hashmap">
	  SELECT b_id, b_thumbnail, b_title, b_filter, b_op_price_min, r_count, u_s_com, num
		  FROM (SELECT b_id, b_thumbnail, b_title, b_filter, b_op_price_min, r_count, u_s_com, ROWNUM AS num
	  	  FROM (SELECT b.b_id, b.b_thumbnail, b.b_title, b.b_filter,
	          (SELECT MIN(op.b_op_price)
	             FROM board_option op
	            WHERE op.b_id = b.b_id) AS b_op_price_min,
	          (SELECT COUNT(*)
	             FROM review re
	            WHERE re.b_id = b.b_id) AS r_count,
	          (SELECT sel.u_s_com
	             FROM users_seller sel
	            WHERE sel.u_s_id = b.u_s_id) AS u_s_com
	      FROM board b
	      WHERE b.b_type = '기타'
	  )
	)
	WHERE num BETWEEN #{start} AND #{end}
	
	</select>
	 <select id="etcTotalPage" resultType="int">
	
	    SELECT CEIL(COUNT(*)/12.0) 
	    FROM board 
	    WHERE b_type = '기타'
	</select>
	
	<!-- 상세보기 -->
	<select id="etcDetailData" resultType="ContentVO" parameterType="string">
	   SELECT 
		    b.b_id,
		    b.b_thumbnail,
		    b.b_title,
		    b.b_filter,
		    b.b_view_count,
		    b.b_content,
		    b.b_prod_on_off,
		    b.u_s_id,
		    (SELECT COUNT(*) FROM review re WHERE re.b_id = b.b_id) AS r_count,
		    (SELECT COUNT(*) FROM board_like bl WHERE bl.b_id = b.b_id) AS l_count,
		    sel.u_s_com,
		    sel.u_s_zone,
		    sel.u_s_carrer,
		    sel.u_s_profileimg_url
		FROM board b
		LEFT JOIN users_seller sel
		    ON b.u_s_id = sel.u_s_id
		WHERE b.b_id = #{b_id}
	</select>
	
	<!-- 상세보기 이미지 -->
	<select id="etcDetailImage" resultType="string" parameterType="string">
	   SELECT b_img_url 
	   FROM board_image 
	   WHERE b_id = #{b_id}
	   ORDER BY b_img_id ASC
	</select>
	
	<!-- 리뷰 -->
	<select id="etcReview" resultType="ContentVO" parameterType="string">
	   SELECT *
	   FROM review
	   WHERE b_id = #{b_id}
	   ORDER BY b_review_createdat DESC
	</select>
	
	<!-- 리뷰 이미지 -->
	<select id="etcReviewImage" resultType="string" parameterType="string">
	   SELECT *
	   FROM review
	   WHERE b_id = #{b_id}
	   ORDER BY b_review_createdat DESC
	</select>
	
	<!-- 가격 옵션 -->
	<select id="etcPriceOption" resultType="ContentVO" parameterType="string">
	   SELECT *
	   FROM board_option
	   WHERE b_id = #{b_id}
	   ORDER BY b_op_price 
	</select>
</mapper> 