<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eum.list.mapper.exercise-mapper">

	<select id="exerciseListData" resultType="ContentVO" parameterType="hashmap">
	   SELECT *
			FROM (
			    SELECT inner_data.*, ROWNUM AS num
			    FROM (
			        SELECT 
			            b.b_id,
			            b.u_s_id,
			            b.b_thumbnail,
			            b.b_title,
			            b.b_type,
			            MIN(b_o.b_op_price) AS b_op_price_min,
			            u_s.u_s_com,
			            COUNT(r.b_id) AS r_count
			        FROM board b
			        LEFT JOIN users_seller u_s ON b.u_s_id = u_s.u_s_id
			        LEFT JOIN board_option b_o ON b.b_id = b_o.b_id
			        LEFT JOIN review r ON b.b_id = r.b_id
			        GROUP BY 
			            b.b_id, b.u_s_id, b.b_thumbnail, b.b_title, b.b_type, u_s.u_s_com
			        ORDER BY b.b_id DESC
			    ) inner_data
			)
			WHERE num BETWEEN #{start} AND #{end}
</select>
<select id="exerciseTotalPage" resultType="int">
    SELECT CEIL(COUNT(*)/10.0) FROM board
  </select>


</mapper>