<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eum.list.mapper.exercise-mapper">
	<!-- 컨텐츠 목록 -->
	<select id="exerciseListData" resultType="ContentVO" parameterType="hashmap">
	   SELECT *
			FROM (
			    SELECT inner_data.*, ROWNUM AS num
			    FROM (
			        SELECT 
			            b.b_id, b.u_s_id, b.b_thumbnail, b.b_title, b.b_type,
			            MIN(b_o.b_op_price) AS b_op_price_min, u_s.u_s_com,
			            COUNT(DISTINCT r.b_review_id) AS r_count
			        FROM board b
			        LEFT JOIN users_seller u_s ON b.u_s_id = u_s.u_s_id
			        LEFT JOIN board_option b_o ON b.b_id = b_o.b_id
			        LEFT JOIN review r ON b.b_id = r.b_id
			        GROUP BY 
			            b.b_id, b.u_s_id, b.b_thumbnail, b.b_title, b.b_type, u_s.u_s_com
			        ORDER BY b.b_id DESC
			    ) inner_data
			)
			WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 컨텐츠 목록 페이지 개수 -->
	<select id="exerciseTotalPage" resultType="int">
	    SELECT CEIL(COUNT(*)/10.0) FROM board
	</select>
	
	<!-- 디테일 판매자 정보 및 컨텐츠 정보 -->
	<select id="exerciseDetailData" resultType="ContentVO" parameterType="string">
		 SELECT b.b_id, b.u_s_id, b.b_thumbnail, b.b_title, b.b_view_count, b.b_prod_on_off,
      		TO_CHAR(b.b_content) AS b_content, b.b_type, u_s.u_s_carrer, u_s.u_s_profileimg_url,
      		u_s.u_s_com, u_s.u_s_zone, 
      		(SELECT COUNT(r.b_id) 
      		FROM review r 
      		WHERE r.b_id = b.b_id) AS r_count
      	 FROM board b
  		 LEFT JOIN users_seller u_s ON b.u_s_id = u_s.u_s_id
  		 WHERE b.b_id = #{b_id}
	</select>

	<!-- 리뷰 출력 -->
	<select id="exerciseReviewDetailData" resultType="ReviewVO" parameterType="hashmap">
		SELECT r.b_id, r.b_review_id, r.b_review_createdat, r.b_review_content, 
				r.b_review_score, u.u_nickname, u.u_profileimg_url
		FROM review r
		LEFT JOIN users u ON r.u_id =  u.u_id
		WHERE r.b_id = #{b_id}
		ORDER BY r.b_review_createdat DESC
	</select>
	
	<!-- 리뷰 이미지 출력 -->
	<select id="exerciseReviewImageDetailData" resultType="Review_ImageVO" parameterType="string">
		SELECT b_review_id, r_image_url
	    FROM review_image
	    WHERE b_review_id = #{b_review_id}
	</select>
	
</mapper>