<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eum.pay.mapper.like-mapper">
  <select id="boardLikeCount" resultType="int" parameterType="Board_LikeVO">
   SELECT COUNT(*) AS like_count
   FROM board_like
   WHERE b_id=#{b_id}
  </select>
  
  <select id="boardLikeUserChk" resultType="int" parameterType="Board_LikeVO">
   SELECT COUNT(*)
   FROM board_like
   WHERE u_id=#{u_id} AND b_id=#{b_id}
  </select>
  
  <insert id="boardLikeInsert" parameterType="Board_LikeVO">
    INSERT INTO board_like(b_like_id, b_id, u_id, b_like_pushat)
	VALUES(like_id_seq.nextval, #{b_id}, #{u_id}, SYSDATE)
  </insert>
  
  <delete id="boardLikeDelete" parameterType="Board_LikeVO">
   DELETE FROM board_like
   WHERE b_id=#{b_id}
   AND u_id=#{u_id}
  </delete>
</mapper>
